/* Variables */

:root {
  --primary: #53FFA2;
  --dark: #303030;
  --light: #e5e5e5;

  --sections-width: 75%;
}

/*Tags*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark);
  font-family: 'Roboto', sans-serif;
  color: var(--light);
}
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

header {
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header div h1 {
  font-size: 30px;
}

header a {
  text-align: center;
  text-decoration: none;
  padding-bottom: 40px;
}

main {
  height: 100vh;
}

/* Classes */

.headerDescription {
  margin: 0;
  padding: 100px 0px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu img {
  width: 150px;
}


.tilt, .tilt2 {
  position: relative;
  width: 100%;
  transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
}

.tilt {
  background-color: var(--primary);
  height: 50px;
  top: -25px;
}

.tilt2 {
  background-color: var(--light);
  height: 20px;
  top: -17px;
}

.startCurriculum {
  padding: 0px 30px;
  padding-top: 30px;
  color: var(--primary);
  font-size: 30px;
  font-weight: bold;
}